a {
  text-decoration: none;
  cursor: pointer;
}
.home{
  background-color: rgb(252, 229, 136)
}

/* navbar */
.title{
  font-size: 1.6em;
}
.navbar{
  width: 100vw;
  z-index: 1;
  background: linear-gradient(to right, rgb(0, 78, 68), rgb(4, 158, 138), rgb(0, 105, 91));
}
.imageProfile {
  width: 2em;

}
.logo {
  width: 2em;
}
.userName{
  color:rgb(0, 77, 67);
}
.menu-nav{
  color: rgb(252, 229, 136)
}
.menu-nav:hover{
  color: aquamarine;
}
.cart2{
  color: rgb(252, 229, 136);
}
.cart2:hover{
  color: aquamarine;
}
/* home */
.home{
  z-index: -1;
}
.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
}

.img-fluid {
  border-radius: 0.5rem;
}

.container-fluid {
  padding: 20px;
}

h1 {
  color: #007bff;
}
.filter{
  background-color:rgb(2, 136, 118);
}
.custom-input::placeholder {
    color: white;
    opacity: 1; 
}
.custom-input {
    color: inherit; 
}
/* Cart */
.cart {
  background: linear-gradient(rgb(105, 105, 105), rgb(204, 204, 204));
}
.back-cart{
  background-color:rgb(16, 104, 92);
}
.back-card{
  background-color: rgb(252, 229, 136)
}
/* offCanvas */
.offcanvas-header, .offcanvas-footer{
  background-color:rgb(0, 77, 67);
}
/* login */
.login{
  margin-top: 5em;
}
.back-login{
  background-color:rgb(16, 104, 92);
}
.back-login2{
  background-color: rgb(255, 241, 183);
}
/* profile */
.profile-container{
  margin-top: 10em;
}
.footer{
  background-color:rgb(0, 77, 67);
}

/* purchaseComplete */
.purchase_complete{
  background-color: rgb(255, 241, 183);
  color:rgb(0, 77, 67);
}
/* book_detail */

.bookDetail{
  margin-top: 7em;
}
.book-image {
  transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.1); 
}

/* Estilo de la tarjeta */
.card-detail {
  margin: auto;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  background-color: rgb(255, 241, 183);
}

.image-container {
  overflow: hidden; 
}

.card-body h4 {
  font-weight: 600;
  color: #333;
}

.card-body p {
  font-size: 0.9rem;
  color: #555;
}

.card-body h5 {
  font-weight: bold;
  font-size: 1.5rem;
}
