# Excluir la carpeta dist de ser ignorada (al incluirlo directamente añade de nuevo los archivos (de letra sombreada a normal))
!client/dist/
!client/dist/**

# No ignorar la carpeta assets y su contenido
!client/dist/
!client/dist/**
!client/dist/assets/
!client/dist/assets/**

# Ignorar archivos .env en cualquier carpeta
*.env

# Ignorar archivos .txt en cualquier carpeta
*.txt
